<div id="googleMap" style="height: 400px; width: 100%; background: grey"></div>
<div class="contact-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h2>SEND US A MESSAGE</h2>
                <p>Rateposuerit litterarum formas humanitatis per seacula quarta decima humanitatis per seacula.</p>
                <form class="" action="mail.php" method="post">
                    <input type="text" placeholder="Name" class="form-control">
                    <input type="email" placeholder="Email" class="form-control">
                    <input type="text" placeholder="Phone Number" class="form-control">
                    <input type="text" placeholder="Subject" class="form-control">
                    <textarea name="name" rows="10" cols="40" class="form-control" placeholder="Massage"></textarea>
                    <button type="button" class="btn btn-default">SEND</button>
                </form>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="info-area">
                    <h2>CONTACT INFORMATION</h2>
                    <p>Rateposuerit litterarum formas humanitatis per seacula quarta decima humanitatis per seacula.</p>
                </div>
                <div class="location">
                    <h4>Business hours</h4>
                    <p>9am - 10pm (Sat-Fri)</p>
                </div>
                <div class="location">
                    <h4>Address</h4>
                    <p>123, Orlando, parkview Street Homeland, NY</p>
                </div>
                <div class="location">
                    <h4>Phone Number</h4>
                    <p>+(00) 111-333-222-44<br>+(00) 111-333-222-44</p>
                </div>
                <div class="location">
                    <h4>Email Adress</h4>
                    <p>crazycafe@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
