<div class="our-category-area section-pbottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel-title">
                        <h2> <span>Our</span> Categories </h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="category-wrapper">
                        <div class="single-category">
                            <div class="category-img">
                                <a href="#"><img src="assets/img/category/1.jpg" alt="category"></a>
                                <div class="category-text">
                                    <a href="#" class="category-link">TV & Audio</a>
                                    <span class="count-product">(13) products</span>
                                </div>
                            </div>
                        </div>
                        <div class="single-category">
                            <div class="category-img">
                                <a href="#"><img src="assets/img/category/2.jpg" alt="category"></a>
                                <div class="category-text">
                                    <a href="#" class="category-link">Smartphones</a>
                                    <span class="count-product">(13) products</span>
                                </div>
                            </div>
                        </div>
                        <div class="single-category">
                            <div class="category-img">
                                <a href="#"><img src="assets/img/category/3.jpg" alt="category"></a>
                                <div class="category-text">
                                    <a href="#" class="category-link"> Photo & Audio</a>
                                    <span class="count-product">(13) products</span>
                                </div>
                            </div>
                        </div>
                        <div class="single-category">
                            <div class="category-img">
                                <a href="#"><img src="assets/img/category/4.jpg" alt="category"></a>
                                <div class="category-text">
                                    <a href="#" class="category-link">Laptops</a>
                                    <span class="count-product">(13) products</span>
                                </div>
                            </div>
                        </div>
                        <div class="single-category">
                            <div class="category-img">
                                <a href="#"><img src="assets/img/category/1.jpg" alt="category"></a>
                                <div class="category-text">
                                    <a href="#" class="category-link">TV & Audio</a>
                                    <span class="count-product">(13) products</span>
                                </div>
                            </div>
                        </div>
                        <div class="single-category">
                            <div class="category-img">
                                <a href="#"><img src="assets/img/category/2.jpg" alt="category"></a>
                                <div class="category-text">
                                    <a href="#" class="category-link">Smartphones</a>
                                    <span class="count-product">(13) products</span>
                                </div>
                            </div>
                        </div>
                        <div class="single-category">
                            <div class="category-img">
                                <a href="#"><img src="assets/img/category/3.jpg" alt="category"></a>
                                <div class="category-text">
                                    <a href="#" class="category-link"> Photo & Audio</a>
                                    <span class="count-product">(13) products</span>
                                </div>
                            </div>
                        </div>
                        <div class="single-category">
                            <div class="category-img">
                                <a href="#"><img src="assets/img/category/4.jpg" alt="category"></a>
                                <div class="category-text">
                                    <a href="#" class="category-link">Laptops</a>
                                    <span class="count-product">(13) products</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
  $(".category-wrapper").owlCarousel({
      loop: true,
      margin: 30,
      nav: true,
      smartSpeed: 900,
      dots: false,
      navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
      responsive: {

          0: {
              items: 1
          },
          480: {
              items: 1
          },
          678: {
              items: 3
          },
          960: {
              items: 3
          },
          1160: {
              items: 4
          }
      }
  });
</script>
